*{
    margin: 0;
    padding: 0;
}
:root{
    --cyan: rgb(77, 150, 169);
    --cyan-light: rgba(77, 150, 169, 0.7);
    --purple: rgb(132, 91, 183);
    --purple-light: rgba(132, 91, 183, 0.7);
    --gray: rgb(128, 128, 128);
    --white: rgb(255, 255, 255);
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(255, 255, 255);
   
}
article{
    height: 60vh;
    text-align: center;  
    line-height: 147%;
    padding-top: 2em
}


h2{
    
    font-weight: 900;
    line-height: 80%;
    font-size: 2em;
}
h4{
    font-weight: 800;
    line-height: 100%;
    font-size: 1.6em;
}
h6{
    letter-spacing: 3px;
    color:rgb(77, 150, 169);
}
p{
    
    padding: 2em;
   font-size: 1em; 
   opacity: .5;
   
}
button{
    
    font-family: inherit;
    height: 2.8em;
    border-radius: 133px;
    padding: 0;
    border: none;
    color: white;
    cursor: pointer;

    
}
.page-btn-2{
    
    height: 20vh;
}
.page-btn{
    border-radius: 50%;
    color: grey;
    width: 5em;
    height: 5em;
    border: 1px solid grey;
}
.btn1{
    width: 9em;
      background: rgb(55, 82, 95);
}
.btn2{
background: rgba(132, 91, 183, 0.7);
width: 9em;
}
span{
   opacity: .5;
}




@media (min-width: 280px){

    .page{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
       
    }
    .header{
        
        padding-top: 32%;
        
    }
    
.first-img-container, .second-img-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2em 2em;
        grid-gap: 1em;
        width: 110%;
    }

.first-img-container img, .second-img-container img {
        border-radius: 50%;
        width:  70px;
        height: 70px;
 
}

.img-column-2, .img-column-4{
    margin-top: -50%;
}

.logo{
    
    width: 119px;
    height: 28px;
    left:30%;
    transform: scale(0.9);
    position: fixed;
   
}
section{
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
    height: 147vh;
    padding-left: 9%;
}

.gallery-img{
    width: 15em;
    height: 15em;
    transform: scale(0.9);
   border-radius: 8px;
   
}

footer {
    
        
        background-position: center;
        background-size: cover;
        width: 100%;
        color: white;
        height: 50vh;
        background-image: url('./assets/mobile/image-footer.jpg');
        position: absolute;
        text-align: center;
        

    

    }
    .footer{
        background-color: rgba(77, 150, 169, 0.7);
        height: inherit;
}
.footer h1{
    padding-top: 11%;
}
    
    .purple{
        background-color: rgb(132, 91, 183);
    }


 }
@media(min-width: 500px){

}
@media (min-width: 768px){
   
    .logo{
        transform: scale(0.6);}

}


